<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eyeo.mall.gateway.impl.order.database.mapper.OrderItemMapper">
    <resultMap id="BaseResultMap" type="cn.eyeo.mall.gateway.impl.order.database.dataobject.OrderItemDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from order_item
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="cn.eyeo.mall.gateway.impl.order.database.dataobject.OrderItemDO">
        insert into order_item (id, order_id, product_id,
        price, quantity, gmt_create,
        gmt_modified)
        values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT},
        #{price,jdbcType=DECIMAL}, #{quantity,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP},
        #{gmtModified,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.eyeo.mall.gateway.impl.order.database.dataobject.OrderItemDO">
        update order_item
        set order_id = #{orderId,jdbcType=BIGINT},
        product_id = #{productId,jdbcType=BIGINT},
        price = #{price,jdbcType=DECIMAL},
        quantity = #{quantity,jdbcType=INTEGER},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id, order_id, product_id, price, quantity, gmt_create, gmt_modified
        from order_item
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, order_id, product_id, price, quantity, gmt_create, gmt_modified
        from order_item
    </select>
</mapper>