<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eyeo.mall.gateway.impl.order.database.mapper.OrdersDOMapper">
    <resultMap id="BaseResultMap" type="cn.eyeo.mall.gateway.impl.order.database.dataobject.OrdersDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="recipient_name" jdbcType="VARCHAR" property="recipientName"/>
        <result column="recipient_phone" jdbcType="VARCHAR" property="recipientPhone"/>
        <result column="recipient_address" jdbcType="VARCHAR" property="recipientAddress"/>
        <result column="payment_method" jdbcType="VARCHAR" property="paymentMethod"/>
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
        <result column="shipping_fee" jdbcType="DECIMAL" property="shippingFee"/>
        <result column="order_price" jdbcType="DECIMAL" property="orderPrice"/>
        <result column="order_time" jdbcType="TIMESTAMP" property="orderTime"/>
        <result column="order_status" jdbcType="VARCHAR" property="orderStatus"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from orders
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="cn.eyeo.mall.gateway.impl.order.database.dataobject.OrdersDO">
        insert into orders (id, member_id, recipient_name,
        recipient_phone, recipient_address, payment_method,
        total_price, shipping_fee, order_price,
        order_time, order_status, gmt_create,
        gmt_modified)
        values (#{id,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{recipientName,jdbcType=VARCHAR},
        #{recipientPhone,jdbcType=VARCHAR}, #{recipientAddress,jdbcType=VARCHAR}, #{paymentMethod,jdbcType=VARCHAR},
        #{totalPrice,jdbcType=DECIMAL}, #{shippingFee,jdbcType=DECIMAL}, #{orderPrice,jdbcType=DECIMAL},
        #{orderTime,jdbcType=TIMESTAMP}, #{orderStatus,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP},
        #{gmtModified,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.eyeo.mall.gateway.impl.order.database.dataobject.OrdersDO">
        update orders
        set member_id = #{memberId,jdbcType=BIGINT},
        recipient_name = #{recipientName,jdbcType=VARCHAR},
        recipient_phone = #{recipientPhone,jdbcType=VARCHAR},
        recipient_address = #{recipientAddress,jdbcType=VARCHAR},
        payment_method = #{paymentMethod,jdbcType=VARCHAR},
        total_price = #{totalPrice,jdbcType=DECIMAL},
        shipping_fee = #{shippingFee,jdbcType=DECIMAL},
        order_price = #{orderPrice,jdbcType=DECIMAL},
        order_time = #{orderTime,jdbcType=TIMESTAMP},
        order_status = #{orderStatus,jdbcType=VARCHAR},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id, member_id, recipient_name, recipient_phone, recipient_address, payment_method,
        total_price, shipping_fee, order_price, order_time, order_status, gmt_create, gmt_modified
        from orders
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, member_id, recipient_name, recipient_phone, recipient_address, payment_method,
        total_price, shipping_fee, order_price, order_time, order_status, gmt_create, gmt_modified
        from orders
    </select>
</mapper>