<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.module.system.mapper.SysAdminMapper">

    <resultMap id="BaseResultMap" type="com.mall.module.system.entity.SysAdmin">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="status" property="status"/>
        <result column="last_login" property="lastLogin"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password, nickname, avatar, email, phone, status,
        last_login, create_time, update_time, deleted
    </sql>

    <insert id="insert" parameterType="com.mall.module.system.entity.SysAdmin" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_admin (username, password, nickname, avatar, email, phone, status)
        VALUES (#{username}, #{password}, #{nickname}, #{avatar}, #{email}, #{phone}, #{status})
    </insert>

    <update id="updateById" parameterType="com.mall.module.system.entity.SysAdmin">
        UPDATE sys_admin
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="status != null">status = #{status},</if>
            <if test="password != null">password = #{password},</if>
            <if test="lastLogin != null">last_login = #{lastLogin},</if>
        </set>
        WHERE id = #{id} AND deleted = 0
    </update>

    <update id="deleteById">
        UPDATE sys_admin SET deleted = 1 WHERE id = #{id}
    </update>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM sys_admin WHERE id = #{id} AND deleted = 0
    </select>

    <select id="selectByUsername" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM sys_admin WHERE username = #{username} AND deleted = 0
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM sys_admin WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (username LIKE CONCAT('%', #{keyword}, '%') OR nickname LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM sys_admin WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (username LIKE CONCAT('%', #{keyword}, '%') OR nickname LIKE CONCAT('%', #{keyword}, '%'))
        </if>
    </select>

    <update id="updateStatus">
        UPDATE sys_admin SET status = #{status} WHERE id = #{id} AND deleted = 0
    </update>

    <update id="updateLastLogin">
        UPDATE sys_admin SET last_login = NOW() WHERE id = #{id}
    </update>

    <select id="selectPermissions" resultType="string">
        SELECT DISTINCT p.code
        FROM sys_admin_role ar
        JOIN sys_role_permission rp ON ar.role_id = rp.role_id
        JOIN sys_permission p ON rp.permission_id = p.id
        WHERE ar.admin_id = #{adminId} AND p.status = 1 AND p.deleted = 0
    </select>

    <select id="selectRoleIds" resultType="long">
        SELECT role_id FROM sys_admin_role WHERE admin_id = #{adminId}
    </select>
</mapper>
